{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="mainpanel">
        <div class="pageheader">
            <div class="media">

                <div class="media-body">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'main:home' %}"><i class="glyphicon glyphicon-home"></i></a> <span>Home</span></li>
                    </ul>
                </div>
            </div><!-- media -->
        </div><!-- pageheader -->

        <div class="contentpanel">
            <div class="row">
                <div class="col-md-2">
                    <a href="{% url 'guardian:add_credentials' %}" class="btn btn-primary btn-sm">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </div>
            </div>

            <div class="row" style="margin-top:20px;">


                        {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %} role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>{{ message.tags }}:</strong> {{ message }}.
                            </div>
                        {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <strong>Error: </strong>
                            {% for field, error in form.errors.items %}
                                {% if field != '__all__' %}{{ field }}{% endif %}
                                {{ error | striptags }}
                                <br />
                            {% endfor %}
                        </div>
                        {% endif %}


                {% if not object_list %}
                    <h3> Not credentials add </h3>
                {% else %}
                    {% for credential in object_list %}
                        <div class="col-md-4">
                            <div class="panel panel-default noborder">
                                <div class="panel-heading noborder">

                                    <div class="media-body">
                                        <ul class="nav nav-pills pull-right">
                                            <li>
                                                <a href="{{ credential.get_absolute_url }}">
                                                    <i style="font-size:12px;" class="glyphicon glyphicon-pencil"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ credential.get_delete_credential }}">
                                                    <i style="font-size:12px;" class="glyphicon glyphicon-remove"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <i style="font-size:12px;" class="glyphicon glyphicon-lock"></i> {{ credential.name }}
                                        <p>{{ credential.url }}</p>
                                        <p>{{ credential.password }}</p>
                                        <p>{{ credential.description }}</p>
                                    </div><!-- media-body -->

                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </div><!-- col-md-4 -->
                    {% endfor %}
                {% endif %}

            </div>
                <div class="row" style="margin-top:20px;">
                <nav><!--nav-->
                    <ul class="pagination pagination-centered" style='margin: 5px 0 7px;'><!--ul pagination pagination-centered -->
                        <li>
                            <a class='{% if page_obj.has_previous %}btn{% else %} btn disabled{% endif %}' href="?page=1" title=""><<</a>
                        </li>

                        <li>
                            <a class='{% if page_obj.has_previous %}btn{% else %} btn disabled {% endif %}' href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}" title=""><</a>
                        </li>

                        <li>
                            <a class='{% if page_obj.has_next %}btn{% else %} btn disabled{% endif %}' href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}" title="">></a>
                        </li>

                        <li>
                            <a class='{% if page_obj.has_next %}btn{% else %}btn disabled{% endif %}' href="?page={{paginator.num_pages}}" title="">>></a>
                        </li>
                    </ul><!--ul pagination pagination-centered -->
                </nav><!--nav-->
                <small>{{ page_obj.number }} de {{paginator.num_pages}}</small>
                </div>

            </div><!-- row -->

        </div><!-- contentpanel -->

    </div><!-- mainpanel -->
{% endblock %}