{% extends "base.html" %}
{% load staticfiles %}
{% load formtags %}

{% block content %}
    <div class="mainpanel">
        <div class="pageheader">
            <div class="media">
                <div class="media-body">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'main:home' %}"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                        <li><a href="{% url 'guardian:add_credentials' %}"><i class="glyphicon glyphicon-plus"></i> <span>add credentials</span></a></li>
                    </ul>
                </div>
            </div><!-- media -->
        </div><!-- pageheader -->

        <div class="contentpanel">

                <form method="post" name="add_credentials">
                {% csrf_token %}

                    <div class="row">
                        {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %} role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>{{ message.tags }}:</strong> {{ message }}.
                            </div>
                        {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <strong>Error: </strong>
                            {% for field, error in form.errors.items %}
                                {% if field != '__all__' %}{{ field }}{% endif %}
                                {{ error | striptags }}
                                <br />
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="form-group col-md-4 {% if form.name.errors %}has-error{% endif %}">
                            {{ form.name }}
                            <span class="error text-danger">{{ form.name.errors|join:"<br \>" }}</span>
                        </div>
                        <div class="form-group col-md-4 {% if form.url.errors %}has-error{% endif %}">
                            {{ form.url }}
                            <span class="error text-danger">{{ form.url.errors|join:"<br \>" }}</span>
                        </div>
                        <div class="form-group col-md-4 {% if form.password.errors %}has-error{% endif %}">
                            {{ form.password }}
                            <span class="error text-danger">{{ form.password.errors|join:"<br \>" }}</span>
                        </div>
                        <div class="form-group col-md-12 {% if form.description.errors %}has-error{% endif %}">
                            {{ form.description|placeholder:"Description" |textarea:"6" |addcss:"form-control" }}
                            <span class="error text-danger">{{ form.description.errors|join:"<br \>" }}</span>
                        </div>
                    </div><!-- row -->




                    <input type="submit" class="btn btn-primary" value="Add">
                    <a href="{% url 'main:home' %}" class="btn btn-danger">Close</a>



            </form>

        </div><!-- contentpanel -->

    </div><!-- mainpanel -->
{% endblock %}