{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="mainpanel">
        <div class="pageheader">
            <div class="media">
                <div class="media-body">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'main:home' %}"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
                        <li><a href="{{ object.get_absolute_url }}"><i class="glyphicon glyphicon-pencil"></i> <span>detail credentials</span></a></li>
                    </ul>
                </div>
            </div><!-- media -->
        </div><!-- pageheader -->

        <div class="contentpanel">
            <div class="row" style="margin-bottom:20px;">

                        {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %} role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>{{ message.tags }}:</strong> {{ message }}.
                            </div>
                        {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <strong>Error: </strong>
                            {% for field, error in form.errors.items %}
                                {% if field != '__all__' %}{{ field }}{% endif %}
                                {{ error | striptags }}
                                <br />
                            {% endfor %}
                        </div>
                        {% endif %}
                    <div class="col-md-4">

                        <ul class="nav">
                            <li><i style="font-size:12px;" class="glyphicon glyphicon-lock"></i> {{ object.name }}</li>
                            <li>{{ object.url }}</li>
                            <li>{{ object.password }}</li>
                            <li>{{ object.description }}</li>
                        </ul>

                    </div><!-- col-md-4 -->
                </div>
                    <a href="{{ object.get_edit_credential }}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'main:home' %}" class="btn btn-danger">Close</a>

        </div><!-- contentpanel -->

    </div><!-- mainpanel -->
{% endblock %}