{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="mainpanel">
        <div class="pageheader">
            <div class="media">
                <div class="pageicon pull-left">
                    <i style="top:5px;right:2px;" class="glyphicon glyphicon-pencil"></i>
                </div>
                <div class="media-body">
                    <ul class="breadcrumb">
                        <li><a href=""><i class="glyphicon glyphicon-pencil"></i></a></li>
                        <li>detail credentials</li>
                    </ul>
                    <h4>Credentials</h4>
                </div>
            </div><!-- media -->
        </div><!-- pageheader -->

        <div class="contentpanel">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Detail Credentials</h4>
                    <p>Detail Credentials form.</p>
                </div><!-- panel-heading -->
                <div class="panel-body">
                        {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %} role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>{{ message.tags }}:</strong> {{ message }}.
                            </div>
                        {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <strong>Error: </strong>
                            {% for field, error in form.errors.items %}
                                {% if field != '__all__' %}{{ field }}{% endif %}
                                {{ error | striptags }}
                                <br />
                            {% endfor %}
                        </div>
                        {% endif %}
                    <div class="col-md-12">

                        <ul class="nav nav-pills">
                            <li><i style="font-size:12px;" class="glyphicon glyphicon-lock"></i> {{ object.name }}</li>
                            <li>{{ object.url }}</li>
                            <li>{{ object.password }}</li>
                        </ul>

                    </div><!-- col-md-4 -->

                </div><!-- panel-body -->

                <div class="panel-footer">
                    <a href="{{ object.get_edit_credential }}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'main:home' %}" class="btn btn-danger">Close</a>
                </div><!-- panel-footer -->
            </div><!-- panel -->

        </div><!-- contentpanel -->

    </div><!-- mainpanel -->
{% endblock %}