{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="mainpanel">
        <div class="pageheader">
            <div class="media">
                <div class="pageicon pull-left">
                    <i style="top:5px;right:2px;" class="glyphicon glyphicon-pencil"></i>
                </div>
                <div class="media-body">
                    <ul class="breadcrumb">
                        <li><a href=""><i class="glyphicon glyphicon-pencil"></i></a></li>
                        <li>edit credentials</li>
                    </ul>
                    <h4>Credentials</h4>
                </div>
            </div><!-- media -->
        </div><!-- pageheader -->

        <div class="contentpanel">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Edit Credentials</h4>
                    <p>Edit Credentials form.</p>
                </div><!-- panel-heading -->
                <form method="post" name="add_credentials">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="row">
                        {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %} role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>{{ message.tags }}:</strong> {{ message }}.
                            </div>
                        {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <strong>Error: </strong>
                            {% for field, error in form.errors.items %}
                                {% if field != '__all__' %}{{ field }}{% endif %}
                                {{ error | striptags }}
                                <br />
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="form-group col-md-4 {% if form.name.errors %}has-error{% endif %}">
                            {{ form.name }}
                            <span class="error text-danger">{{ form.name.errors|join:"<br \>" }}</span>
                        </div>
                        <div class="form-group col-md-4 {% if form.url.errors %}has-error{% endif %}">
                            {{ form.url }}
                            <span class="error text-danger">{{ form.url.errors|join:"<br \>" }}</span>
                        </div>
                        <div class="form-group col-md-4 {% if form.password.errors %}has-error{% endif %}">
                            {{ form.password }}
                            <span class="error text-danger">{{ form.password.errors|join:"<br \>" }}</span>
                        </div>
                    </div><!-- row -->

                </div><!-- panel-body -->

                <div class="panel-footer">
                    <input type="submit" class="btn btn-primary" value="Editar">
                    <a href="{% url 'main:home' %}" class="btn btn-danger">Close</a>
                </div><!-- panel-footer -->
            </div><!-- panel -->

            </form>

        </div><!-- contentpanel -->

    </div><!-- mainpanel -->
{% endblock %}